/* 标签页插件*/
.tabs-stacked .open>a:hover,.tabs-stacked .open>a:focus{
	border-color:$global-tabs-border-hover-color;
}
.tabbable:before,.tabbable:after{
	display:table;
	line-height:0;
	content:"";
}
.tabbable:after{
	clear:both;
}
.tab-content{
	overflow:auto;
}
.tabs-below>.nav-tabs,.tabs-right>.nav-tabs,.tabs-left>.nav-tabs{
	border-bottom:0;
}
.tab-content>.tab-pane,.pill-content>.pill-pane{
	display:none;
}
.tab-content>.active,.pill-content>.active{
	display:block;
}
.tabs-below>.nav-tabs{
	border-top:1px solid $global-tabs-border-color;
}
.tabs-below>.nav-tabs>li{
	margin-top:-1px;
	margin-bottom:0;
}
.tabs-below>.nav-tabs>li>a{
	@include border-radius(0 0 4px 4px);
}
.tabs-below>.nav-tabs>li>a:hover,.tabs-below>.nav-tabs>li>a:focus{
	border-top-color:$global-tabs-border-color;
	border-bottom-color:transparent;
}
.tabs-below>.nav-tabs>.active>a,.tabs-below>.nav-tabs>.active>a:hover,.tabs-below>.nav-tabs>.active>a:focus{
	border-color:transparent $global-tabs-border-color $global-tabs-border-color $global-tabs-border-color;
}
.tabs-left>.nav-tabs>li,.tabs-right>.nav-tabs>li{
	float:none;
}
.tabs-left>.nav-tabs>li>a,.tabs-right>.nav-tabs>li>a{
	min-width:$global-tabs-min-width;
	margin-right:0;
	margin-bottom:3px;
}
.tabs-left>.nav-tabs{
	float:left;
	margin-right:19px;
	border-right:1px solid $global-tabs-border-color;
}
.tabs-left>.nav-tabs>li>a{
	margin-right:-1px;
	@include border-radius(4px 0 0 4px);
}
.tabs-left>.nav-tabs>li>a:hover,.tabs-left>.nav-tabs>li>a:focus{
	border-color:$global-tabs-border2-color $global-tabs-border-color $global-tabs-border2-color $global-tabs-border2-color;
}
.tabs-left>.nav-tabs .active>a,.tabs-left>.nav-tabs .active>a:hover,.tabs-left>.nav-tabs .active>a:focus{
	border-color:$global-tabs-border-color transparent $global-tabs-border-color $global-tabs-border-color;
	*border-right-color:#fff;
}
.tabs-right>.nav-tabs{
	float:right;
	margin-left:19px;
	border-left:1px solid $global-tabs-border-color;
}
.tabs-right>.nav-tabs>li>a{
	margin-left:-1px;
	@include border-radius(0 4px 4px 0);
}
.tabs-right>.nav-tabs>li>a:hover,.tabs-right>.nav-tabs>li>a:focus{
	border-color:$global-tabs-border2-color $global-tabs-border2-color $global-tabs-border2-color $global-tabs-border-color;
}
.tabs-right>.nav-tabs .active>a,.tabs-right>.nav-tabs .active>a:hover,.tabs-right>.nav-tabs .active>a:focus{
	border-color:$global-tabs-border-color $global-tabs-border-color $global-tabs-border-color transparent;
	*border-left-color:#fff;
}
